<div id="root"></div>

<% if current_user %>
<script type="text/javascript">
window.currentUser = <%= render(
  "api/users/user.json.jbuilder",
  user: current_user
).html_safe %>
</script>
<% end %>

<script type="text/javascript">
  window.images = {
    session: "<%= asset_path('session_img.jpg') %>",
    home: "<%= asset_path('home.jpg') %>",
    search: "<%= asset_path('search_icon.png') %>"
  }
</script>
