.bizshow-bottom {
  padding: 0 15px;
  display: grid;
  grid-template-columns: 66% 32%;
  grid-auto-rows: minmax(200px, auto);
  grid-column-gap: 1.228em;
  width: 960px;
  margin: 0 auto;
}

.biz-reviews {
  background-color: yellow;

  h2 {
    font-weight: 700;
    color: $red;
    margin-bottom: 6px;
    padding-bottom: 6px;
    font-size: 22px;
    border-bottom: 1px solid #e6e6e6;

    span {
      font-weight: 400;
      color: black
    }
  }

  .review-list {
    list-style: none;


    .review {
      margin: 0;
      padding: 18px 0;
      border-bottom: 1px solid #e6e6e6;
      padding-bottom: 17px;


      .review-wrapper {
        display: flex;
        .user-info {
          height: 100px;
          padding: 0 15px 0 0;
          min-height: 1px;
          box-sizing: border-box;
          width: 37.5%;
          background-color: pink;
          display: flex;

          .profile-img {
            width: 60px;
            height: 60px;
            border-radius: 4px;
            border: 1px solid black;
          }
          .info {
            margin-left: 10px;

            section {
              margin-bottom: 5px;
              .icon {
                background-color: #f15c00;
                width: 13px;
                height: 13px;
                border-radius: 3px;
                margin-right: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                  font-size: 10px;
                  color: white;
                  position: relative;
                  bottom: 0.1px;
                }
              }
              .light-weight {
                font-weight: 400;
                margin-left: 3px;
                font-size: 12px;
              }

              span {
                font-size: 12px;
                font-weight: 700;
                color: #666;
              }
            }
            .review-count {
              display: flex;
              align-items: center;

            }

            .photo-count {
              display: flex;
              align-items: center;
              i {
                position: relative;
                right: 2px;
                margin-right: 1px;
                font-size: 18px;
                color: #f15c00;
              }
            }

            .name {
              font-weight: 700;
            }
          }
        }
        .review-info {
          height: 100px;
          padding: 0 15px;
          min-height: 1px;
          box-sizing: border-box;
          width: 62.5%;
          background-color: green;
        }
      }
    }
  }
}

.side-bar {
  font-family: inherit;

  .little-summary {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 18px;

    ul{
      li {
        display: flex;
        align-items: center;
        height: 36px;

        .icon {
          color: #999;
          padding-right: 10px;
          margin-left: 8px;

          .icon-wrapper {
            min-width: 34px;
            display: flex;
            justify-content: center;
            font-weight: 700;

            .price {
              color: #41a700;
            }
          }
        }
        .content-wrapper {
          border-bottom: 1px solid #e6e6e6;
          height: inherit;
          width: 76%;
          display: flex;
          align-items: center;

          .key {
            margin-right: 12px;
          }
          .value {
            font-weight: 700;
          }
        }
      }
    }


  }

  .hours-info {
    margin-left: 30px;
    font-size: 14px;
    margin-bottom: 24px;

    table {
      border-spacing: 0;
    }

    h3 {
      color: $red;
      margin: 0 0 12px 0;
      font-weight: 700;
    }
    th {
      text-align: left;
      padding-right: 20px;
    }
  }

  .more-info {
    margin-left: 30px;
    font-size: 14px;

    h3 {
      color: $red;
      margin: 0 0 15px 0;
    }

    dl {
      display: flex;
      padding-bottom: 10px;
      margin: 0;

      dd {
        margin-left: 10px;
        font-weight: 700;
      }
    }
  }
}
