.home-root {
  min-width: 1020px;
  font-family: 'Roboto', sans-serif;
}

.top {
  padding-top: 30px;
  height: 600px;
  background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) ), image-url('home.jpg');
  background-size: cover;
  background-position: 0 70%;
  background-color: #333;

  .super-nav {
    display: flex;
    justify-content: space-between;
    max-width: 1010px;
    margin: 0 auto;
    font-size: 16px;


    button {
      color: #fff;
      display: block;
      padding: 9px 12px 10px;
      font-size: 15px;
      // line-height: 1.28571em;
      font-weight: 700;
      background: none;
      vertical-align: baseline;
      border-radius: 0;
      border-bottom: 2px solid transparent;
      padding-bottom: 8px;
    }

    .nav-session-dropdown {
      display: block;
      justify-content: space-between;
      position: relative;

      .user-menu {
        width: 58px;
        height: 38px;
        background: rgba(0,0,0,.25);
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
          width: 38px;
          height: 100%;
          border-radius: 2px 0 0 2px;
          vertical-align: middle;
        }
        section {
          width: 20px;
          display: flex;
          justify-content: center;
          color: white;
        }
      }

      .dropdown {
        margin-top: 10px;
        position: absolute;
        z-index: 10;
        right: 0;
        padding: 12px;
        min-width: 217px;
        background: #fff;
        border: 1px solid #ccc;
        border-color: rgba(0,0,0,.2);
        border-radius: 3px;
        box-shadow: 0 2px 8px rgba(0,0,0,.2);
        box-sizing: border-box;
        min-height: 200px;


        .arrow:after{
          bottom: 100%;
          right: 8px;
          border: solid transparent;
          content: "";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-bottom-color: #fff;
          border-width: 10px;
          margin-left: -10px;
        }
        .menu-list{
          list-style: none;
          margin-top: 12px;
          border-top: 1px solid #e6e6e6;
          padding-top: 11px;

          li{
            color: $blue;
            font-weight: 700;
            cursor: pointer;
            margin-bottom: 10px;
            margin-left: 5px;

            a:hover {
              span{
                text-decoration: underline;
              }
            }
            a{
              display: flex;
              align-items: center;
              font-size: 15px;

              i{
                color: #666;
                font-size: 21px;
                margin-right: 10px;
              }
              .about-me{
                margin-right: 12px;
              }
            }
          }
        }
        .logout{
          margin-top: 12px;
          border-top: 1px solid #e6e6e6;
          padding-top: 11px;
          font-size: 15px;
          a{
            color: $blue;
            cursor: pointer;
          }
          a:hover{
            text-decoration: underline;
          }
        }
        .user-content{
          display: flex;
          width: 100%;
          height: 60px;

          img{
            width: 60px;
            height: 60px;
            border-radius: 3px;
            margin-right: 10px;
          }
          .user-info{
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            li{
              display: flex;
              align-items: center;

              a {
                color: $blue;
                cursor: pointer;
                font-weight: 700;
              }
              a:hover {
                text-decoration: underline;
              }

              .review-count{
                display: flex;
                margin-right: 10px;
              }
              .photo-count{
                display: flex;
              }
            }

            .icon {
              background-color: #f15c00;
              width: 13px;
              height: 13px;
              border-radius: 3px;
              margin-right: 6px;
              display: flex;
              justify-content: center;
              align-items: center;
              i {
                font-size: 10px;
                color: white;
                position: relative;
                bottom: 0.1px;
              }
            }
            span {
              font-size: 12px;
              font-weight: 700;
              color: #666;
            }

            .photo-count {
              display: flex;
              align-items: center;
              i {
                position: relative;
                right: 2px;
                margin-right: 1px;
                font-size: 18px;
                color: #f15c00;
              }
            }
          }
        }

      }
    }

    .nav-session {
      display: flex;
      justify-content: space-between;
      position: relative;



      .login {
        margin-right: 15px;
      }
      .login:hover {
        border-bottom: 2px solid #fff;
      }
      .demo:hover {
        border-bottom: 2px solid #fff;
      }

      .signup {
        padding: 7px 24px 8px;
        border: 2px solid #fff;
        border-radius: 4px;
      }
    }

    .left-nav {
      border-bottom: 2px solid transparent;
      padding-bottom: 8px;

    }
    .left-nav button:hover {
      border-bottom: 2px solid #fff;
    }
  }

  .home-logo {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    .logo {
      width: 224px;
      height: 150px;
    }
  }

  .search-bar-wrapper {
    margin: 10px auto 20px;
    width: 100%;


    .search-bar {
      min-width: 100%;

      display: flex;
      justify-content: center;

      label {
        background-color: white;
        display: flex;
        align-items: center;
        padding-left: 12px;
      }

      label:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      .search-location:before {
        content : "";
        position: relative;
        right    : 10px;
        z-index: 100;
        width  : 1px;
        height   : 65%;  /* or 100px */
        background: lightgray;
      }

      .search-title {
        color: #666;
        font-weight: 700;
        margin-right: 15px;
        font-size: 20px;

      }

      .search-btn {
        background-color: #d32323;
        padding: 10px 20px 10px;
        box-shadow: none;
        border-radius: 0 4px 4px 0;

        img {
          color: white;
          width: 20px;
          height: 20px;

        }
      }
      .search-btn:hover {
        background-color: #e82626;
      }

      input {
        height: 45px;
        width: 380px;
        font-size: 18px;
      }
    }
  }

  .bottom-wrapper {
    color: white;
    font-weight: 700;
    width: 400px;
    margin: 0 auto;

    .tags {
      display: flex;
      justify-content: space-between;

      a {
        span {
          display: flex;
          align-items: center;
          font-size: 14px;
          p:hover {
            text-decoration: underline;
          }
        }

        i {
          font-size: 17px;
          margin-right: 6px;
        }

      }

    }
  }
}

.categories-wrapper {
  height: 381px;
  background-color: #f5f5f5;

  .cate-box {
    width: 960px;
    height: auto;
    padding-top: 36px;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;

    h2 {
      color: $red;
      font-size: 22px;
      width: 100%;
      margin-bottom: 26px;
    }
    .boxes-wrapper {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;

      div[class*='box'] {
        width: 217.5px;
        height: 217px;

        .img-box {
          width: 100%;
          height: 174px;
          overflow: hidden;
          background-color: white;
          border-radius: 4px 4px 0 0;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .category {
          width: 215.5px;
          height: 17px;
          padding: 12px 0;
          border: 1px solid #e6e6e6;
          background-color: white;
          border-radius: 0 0 4px 4px;
          font-size: 15px;
        }
      }
      div[class*='box']:hover {
        .img-box {
          box-shadow: 0px 4px 15px 1px rgba(0,0,0,0.1);
        }
        .category {
          box-shadow: 0px 4px 15px 1px rgba(0,0,0,0.1);
        }
      }

    }
  }
}
