.nav-wrapper {
  background-color: pink;
  height: 91px;
  width: 100%;

  .nav-bottom {
    width: 100%;
    height: 27px;
    background-color: #bd1f1f;

    .bottom-inner-wrapper {
      width: 990px;
      display: flex;
      margin: 0 auto;



      .bottom-btn {
        width: 104px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: 700;
        font-size: 14px;
      }
      .bottom-btn:hover {
        background-color: #a71c1c;
      }
      button {
        padding: 4px 20px;
      }

      .tags {
        width: 730px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-left: 90px;

        a {
          padding: 4px 20px;
          margin: 0 40px;
          color: white;
          font-weight: 700;
          font-size: 13px;

          span {
            display: flex;
            align-items: center;
          }
          i {
            font-size: 18px;
            margin-right: 7px;
          }
        }
        a:hover {
          background-color: #a71c1c;
        }
      }
    }
  }

  .nav-top {
    width: 100%;
    height: 64px;
    background-color: $red;

    .top-inner-wrapper {
      width: 990px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .nav-session-dropdown {
        display: block;
        justify-content: space-between;
        position: relative;

        .user-menu:hover {
          background: #a71c1c;
        }

        .user-menu {
          width: 58px;
          height: 38px;
          background: #bd1f1f;
          display: flex;
          align-items: center;
          cursor: pointer;

          img {
            width: 38px;
            height: 100%;
            border-radius: 2px 0 0 2px;
            vertical-align: middle;
          }
          section {
            width: 20px;
            display: flex;
            justify-content: center;
            color: white;
          }
        }

        .dropdown {
          margin-top: 10px;
          position: absolute;
          z-index: 10;
          right: 0;
          padding: 12px;
          min-width: 217px;
          background: #fff;
          border: 1px solid #ccc;
          border-color: rgba(0,0,0,.2);
          border-radius: 3px;
          box-shadow: 0 2px 8px rgba(0,0,0,.2);
          box-sizing: border-box;
          min-height: 200px;


          .arrow:after{
            bottom: 100%;
            right: 8px;
            border: solid transparent;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px;
          }
          .menu-list{
            list-style: none;
            margin-top: 12px;
            border-top: 1px solid #e6e6e6;
            padding-top: 11px;

            li{
              color: $blue;
              font-weight: 700;
              cursor: pointer;
              margin-bottom: 10px;
              margin-left: 5px;

              a:hover {
                span{
                  text-decoration: underline;
                }
              }
              a{
                display: flex;
                align-items: center;
                font-size: 15px;

                i{
                  color: #666;
                  font-size: 21px;
                  margin-right: 10px;
                }
                .about-me{
                  margin-right: 12px;
                }
              }
            }
          }
          .logout{
            margin-top: 12px;
            border-top: 1px solid #e6e6e6;
            padding-top: 11px;
            font-size: 15px;
            a{
              color: $blue;
              cursor: pointer;
            }
            a:hover{
              text-decoration: underline;
            }
          }
          .user-content{
            display: flex;
            width: 100%;
            height: 60px;

            img{
              width: 60px;
              height: 60px;
              border-radius: 3px;
              margin-right: 10px;
            }
            .user-info{
              list-style: none;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              li{
                display: flex;
                align-items: center;

                a {
                  color: $blue;
                  cursor: pointer;
                  font-weight: 700;
                }
                a:hover {
                  text-decoration: underline;
                }

                .review-count{
                  display: flex;
                  margin-right: 10px;
                }
                .photo-count{
                  display: flex;
                }
              }

              .icon {
                background-color: #f15c00;
                width: 13px;
                height: 13px;
                border-radius: 3px;
                margin-right: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                  font-size: 10px;
                  color: white;
                  position: relative;
                  bottom: 0.1px;
                }
              }
              span {
                font-size: 12px;
                font-weight: 700;
                color: #666;
              }

              .photo-count {
                display: flex;
                align-items: center;
                i {
                  position: relative;
                  right: 2px;
                  margin-right: 1px;
                  font-size: 18px;
                  color: #f15c00;
                }
              }
            }
          }
        }
      }


      .nav-session {

        a {
          text-decoration: none;
          color: white;
          font-weight: 700;
          font-size: 14px;
        }

        button {
          background-color: #bd1f1f;
          width: 80px;
          height: 24px;
          padding: 6px 12px;
          text-align: center;
          border-radius: 4px;
        }
        button:hover {
          background-color: #a71c1c;
          text-decoration: none;
        }

      }

      .search-bar-wrapper {
        .search-bar {
          min-width: 100%;

          display: flex;
          justify-content: center;

          label {
            background-color: white;
            padding: 5px 8px;
            display: flex;
            align-items: center;
          }
          label:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }
          .search-inp {
            padding: 5px 0;
          }

          .search-find {
            .search-inp {
              border-right: 1px solid lightgray;
            }
          }

          .search-title {
            color: black;
            font-weight: 700;
            margin-right: 15px;
            font-size: 14px;
          }

          .search-btn {
            background-color: #bd1f1f;
            padding: 0 15px;
            box-shadow: none;
            border-radius: 0 4px 4px 0;

            img {
              color: white;
              width: 18px;
              height: 18px;

            }
          }
          .search-btn:hover {
            background-color: #a71c1c;
          }

          input {
            width: 280px;
            font-size: 14px;
          }
        }
      }

    }

    .logo {
      img{
        position: relative;
        left: 15px;
        width: 100px;
        height: 68px;
      }
    }
  }

}
