.empty-nav {
  background-color: #d32323;
  height: 40px;
  padding: 12px 0;
  min-width: 1020px;
  a {
    display: flex;
    justify-content: center;
    height: 100%;

    .logo {
      position: relative;
      bottom: 15px;
      width: 100px;
      height: 68px;
    }
  }
}
